.form {
    background-color: var(--off-white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
    padding: var(--space20);
}

.form__btn {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-left: auto;
    padding: 10px 16px;
    border-radius: 4px;
    border: 1px solid var(--light-gray);
    transition-property: background-color;
    transition-duration: .5s;
}

.form__btn:hover {
    color: var(--off-white);
    background-color: var(--dark-gray) ;
}
